h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondaryFamily);
}


.article__img--big figcaption {
	border-bottom: 1px solid lightgrey;
	padding-bottom: .5em;
	text-align: right;
	font-style: italic;
}

.siteBrand {
	font-size: 200%;
	color: var(--color-primaryBrand);
	text-decoration: none;
	font-family: var(--font-secondaryFamily);
	font-weight: 700;
}

.siteBrand:hover {
	text-decoration: underline;
}

i[class^="icon-"] {
	font-size: 200%;
}