body {
	font-size: var(--font-size);
	font-family: var(--font-primaryFamily);
}

.siteHeader {
	border-bottom-style: solid;
	border-bottom-color: var(--color-primaryBrand);
	padding: 3vw;
}



.siteFooter {
	padding: 1vh;
	color: var(--color-primaryBackground);
	background-color: var(--color-primaryForeground);
}

