@font-face {
  font-family: 'some';
  src: url('../font/some.eot') ,
       url('../font/some.woff2') ,
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "some";
  font-style: normal;
  margin-right: .2em;
  line-height: 1em;
  margin-left: .2em;
 
}
 
.icon-instagram:before { content: '\f16d'; } 
.icon-twitter-squared:before { content: '\f304'; } 
.icon-facebook-squared:before { content: '\f308'; } 